.galeria {
  margin: 20px;
  margin-top: 50px;
}
@media (min-width: 1024px) {
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    img {
      width: 90%;
      border: 2px solid rgb(0, 247, 255);
      margin: 20px;
    }
    p {
      margin: 0 3%;
      font-family: "Public Sans", sans-serif;
    }
  }
  .video {
    margin: 20px;
    p {
      margin: 20px;
    }
  }
}
@media (max-width: 1024px) {
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    img {
      width: 90%;
      border: 2px solid rgb(0, 247, 255);
      margin: 20px;
    }
    p {
      margin: 0 3%;
    }
  }
  .video {
    margin: 30px;
    p {
      margin: 20px;
    }
  }
}
